@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

body {
  margin: 0;
  padding: 0;
}

main {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
